label {
  font-family: Minecraftia; }

button {
  font-family: monospace;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  background-color: unset;
  background: unset; }

.bar {
  background-color: rgba(2, 2, 3, 0.5); }

.quicksettings {
  background-color: rgba(2, 2, 3, 0.5); }

.workspaces button {
  background-color: transparent;
  color: #eee;
  padding: 0px 5px; }
  .workspaces button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #efefef; }

.workspaces .focused {
  background-color: rgba(255, 255, 255, 0.1);
  color: #CBA6F7; }

.media {
  background-color: transparent;
  color: #eee; }

.media:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #efefef; }

.media:active {
  background-color: rgba(255, 255, 255, 0);
  color: #fff; }

.client-title {
  margin-left: 1em;
  color: #888; }

.notification image {
  color: #fff;
  margin-left: 1em; }

.battery {
  font-size: 1.1em; }
  .battery .low {
    color: #E685A1; }
  .battery .high {
    color: #A6E3A1; }

.audio-button {
  margin: 0px 6px; }

.clock {
  margin: 0 6px;
  font-size: 1.1em; }

.sys-tray button {
  padding: 0px 5px; }

progress, highlight {
  background-color: aqua;
  min-height: 8px; }

window#notifications {
  all: unset; }

window#notifications box.notifications {
  padding: .5em; }

.icon {
  min-width: 68px;
  min-height: 68px;
  margin-right: 1em; }

.icon image {
  font-size: 58px;
  /* to center the icon */
  margin: 5px; }

.icon box {
  min-width: 68px;
  min-height: 68px;
  border-radius: 7px; }

.notification {
  min-width: 350px;
  border-radius: 11px;
  padding: 1em;
  margin: .5em; }

.notification.critical {
  border: 1px solid lightcoral; }

.title {
  font-size: 1.4em; }

.body {
  background-color: rgba(2, 2, 3, 0.5); }

.actions .action-button {
  margin: 0 .4em;
  margin-top: .8em; }

.actions .action-button:first-child {
  margin-left: 0; }

.actions .action-button:last-child {
  margin-right: 0; }
