.workspaces button {
  background-color: transparent;
  color: #eee;
  padding: 0px 5px; }
  .workspaces button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #efefef; }

.workspaces .focused {
  background-color: rgba(255, 255, 255, 0.1);
  color: #CBA6F7; }

label {
  font-family: Minecraftia; }

button {
  font-family: monospace;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  background-color: unset;
  background: unset; }

.bar {
  background-color: rgba(2, 2, 3, 0.5); }

window#notifications {
  all: unset; }

.icon {
  min-width: 68px;
  min-height: 68px;
  margin-right: 1em; }

.icon image {
  font-size: 58px;
  min-width: 68px;
  min-height: 68px;
  /* to center the icon */
  margin: 5px; }

.icon box {
  border-radius: 7px;
  margin-left: 0px;
  min-width: 68px;
  min-height: 68px; }

.notification {
  min-width: 350px;
  padding: 1em;
  background-color: rgba(2, 2, 3, 0.5); }

.notification.critical {
  border: 1px solid lightcoral; }

.title {
  font-size: 1.4em; }

.actions .action-button {
  margin: 0 .4em;
  margin-top: .8em; }

.actions .action-button:first-child {
  margin-left: 0; }

.actions .action-button:last-child {
  margin-right: 0; }

.quicksettings {
  background-color: rgba(2, 2, 3, 0.5); }

.media {
  background-color: transparent;
  color: #eee; }

.media:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #efefef; }

.media:active {
  background-color: rgba(255, 255, 255, 0);
  color: #fff; }

.client-title {
  margin-left: 1em;
  color: #888; }

.notification image {
  color: #fff;
  margin-left: 1em; }

.battery {
  font-size: 1.1em; }
  .battery .low {
    color: #E685A1; }
  .battery .high {
    color: #A6E3A1; }

.audio-button {
  margin: 0px 6px; }

.clock {
  margin: 0 6px;
  font-size: 1.1em; }

.sys-tray button {
  padding: 0px 5px; }

progress, highlight {
  background-color: aqua;
  min-height: 8px; }

.sink-selector {
  margin: 0px 4px; }
  .sink-selector .sink-item {
    border-radius: 8px;
    margin: 2px 0px;
    padding: 2px 6px; }
    .sink-selector .sink-item .sink-icon {
      margin-right: 8px; }
  .sink-selector .volume-slider-box {
    margin: 6px 6px; }
    .sink-selector .volume-slider-box .volume-icon {
      margin-right: 8px; }
    .sink-selector .volume-slider-box .volume-slider {
      min-width: 100px;
      margin: 8px 0px; }
      .sink-selector .volume-slider-box .volume-slider trough {
        border-radius: 8px;
        min-height: 5px; }
        .sink-selector .volume-slider-box .volume-slider trough highlight,
        .sink-selector .volume-slider-box .volume-slider trough progress {
          border-radius: 8px; }
      .sink-selector .volume-slider-box .volume-slider slider {
        min-width: 5px;
        min-height: 5px; }

.app-mixer {
  min-width: 350px;
  margin: 8px; }
  .app-mixer .mixer-item.horizontal .mixer-content {
    margin: 0px 16px; }
    .app-mixer .mixer-item.horizontal .mixer-content .mixer-slider {
      min-width: 100px;
      margin: 8px 0px; }
      .app-mixer .mixer-item.horizontal .mixer-content .mixer-slider trough {
        border-radius: 8px;
        min-height: 5px; }
        .app-mixer .mixer-item.horizontal .mixer-content .mixer-slider trough highlight,
        .app-mixer .mixer-item.horizontal .mixer-content .mixer-slider trough progress {
          border-radius: 8px; }
      .app-mixer .mixer-item.horizontal .mixer-content .mixer-slider slider {
        min-width: 5px;
        min-height: 5px; }
  .app-mixer .mixer-item.horizontal .mixer-percentage {
    min-width: 46px; }
