/*
Go to https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#favicon-of-tabs
for some information on how to change these variables...
*/
:root {
  --ap-base0-h: 250deg;
  --ap-base0-s: 23.0769230769%;
  --ap-base0-l: 5.0980392157%;
  --dark-0: #11111B;
  --dark-base: #11111B;
  --dark-1: #0B0A10;
  --dark-2: #0B0A10;
  --dark-3: hsl(var(--ap-base0-h), var(--ap-base0-s), calc(var(--ap-base0-l) + 5%));
  --dark-4: hsl(var(--ap-base0-h), var(--ap-base0-s), calc(var(--ap-base0-l) + 10%));;
  --light-0: #fff;
  --light-base: #fff;
  --light-1: #fff;
  --light-2: #fff;
  --light-3: #fff;
  --light-4: #fff;
  --accent: #d3e8ff;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --red: #f38ba8;
  /* --extension-icon-mask: grayscale(85%) invert(21%) sepia(0%) saturate(1166%) hue-rotate(166deg) brightness(95%) contrast(80%); */
}

:root.incognito {
  --dark-0: #1C0E34;
  --dark-base: #20103c;
  --dark-1: #2F1D4E;
  --dark-2: #38225D;
  --dark-3: #4A2D7B;
  --dark-4: #53338A;
  --light-0: #CC6B9C;
  --light-base: #B9407C;
  --light-1: #AB3B73;
  --light-2: #9C3569;
  --light-3: #8D305E;
  --light-4: #7D2B54;
  --accent: #e9207e;
  --yellow: #C9B336;
  --green: #36C987;
  --red: #C9365D;
  /* --extension-icon-mask: grayscale(85%) invert(13%) sepia(80%) saturate(3107%) hue-rotate(256deg) brightness(84%) contrast(93%); */
}

:root {
  --tab-border-radius: 8px;
  /* border radius of tabs */
  --animation-duration: 200ms;
  /* duration of different animations [0s: turn all animations off] */
  --spacing: 10px;
  /* spacing between tabs. [<15px: compact tabs] */
  --distance-from-edge: 7px;
  /* distance between tabs, and left-right edges of sidebar*/
  --hover-text-spacing: 0.2;
  /* should be left alone. with hover sidebar, if text is visible in collapsed status, increase this */
  --ease-in: cubic-bezier(0.32, 0, 0.67, 0);
  --ease-out: cubic-bezier(0.22, 1, 0.36, 1);
  --ease-in-out: cubic-bezier(0.65, 0, 0.35, 1);
  --collapsed-width: 60px;
  --contextual-identity-color-blue: #63B3ED;
  --contextual-identity-color-orange: #F6AD55;
  --contextual-identity-color-green: #68D391;
  --contextual-identity-color-pink: #F687B3;
}

/************UNCUSTOMIZED CSS************/
#tabbar-container #tabbar {
  margin-bottom: 15px !important;
}

:root,
#background {
  background: var(--dark-base) !important;
}

#all-tabs {
}

tab-item > * {
  overflow: visible;
}

tab-item:not(.collapsed) {
  border: none !important;
  height: 32px !important;
  justify-content: center;
}

tab-item.collapsed {
  height: 0;
  margin: 0 !important;
  padding: 0 !important;
}

tab-item:not([data-level="0"]):not(.pinned) {
  border-left: solid 3px var(--light-4) !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 20px;
  padding-left: 0px;
  /* margin-top: calc(var(--spacing)/2); */
}

tab-item tab-favicon {
  left: 0;
  /* filter: var(--extension-icon-mask); */
  transition: transform calc(var(--animation-duration) * 2) var(--ease-out);
}

.highlighter {
  display: none !important;
}

tab-item {
  --tab-size: 34px !important;
}

tab-item tab-item-substance {
  height: var(--tab-size);
  padding: 4px 0px 4px 0px;
  margin: 4px;
}

tab-item tab-item-substance .active {
  height: var(--tab-size);
}

tab-item .label {
  color: var(--light-1) !important;
  padding-left: 8px;
  font-weight: bold;
}

/*The drop-down ">" button*/
tab-item .twisty:before {
  background: var(--light-1) !important;
  transform: scale(150%);
}

tab-item[label="New Tab"] .favicon {
  display: none !important;
}

tab-item.active .label {
  color: var(--light-0) !important;
}

tab-item.active {
  background: var(--dark-4) !important;
}

tab-item:not(.active).highlighted {
  background: var(--dark-1) !important;
}

tab-item:not(active):hover {
  background: var(--dark-1);
}

/* The close button */
tab-item:hover tab-closebox {
  right: 10px;
}

tab-item:not(pinned) tab-closebox {
  right: -30px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding-top: 2px;
  padding-left: 2px;
  opacity: 1;
}

tab-closebox:hover {
  transition: background var(--animation-duration) var(--ease-out);
  background: var(--red);
  transform: scale(110%) !important;
}

.sound-button:after {
  background: var(--light-3) !important;
  margin-right: 5px;
}

.counter {
  color: var(--light-1) !important;
  background: rgba(66, 66, 66, 0.2666666667) !important;
  border-radius: 5px;
  margin: 0px 6px;
  padding: 4px 5px;
  font-weight: bold;
  /* padding-bottom: 2px; */
  order: 0 !important;
}

.counter:before,
.counter:after {
  content: "";
}
/***********************************/
.tab .favicon .favicon-default::before {
  filter: var(--extension-icon-mask);
  /* change for light theme */
}

.tab[data-current-favicon-uri=undefined] .favicon .favicon-default::before {
  background: url("chrome://branding/content/identity-icons-brand.svg") no-repeat center !important;
  mask: none !important;
}

/***********NEW TAB BUTTON**********/
.newtab-button-box {
  border: none !important;
  margin: 0 50px;
}

.newtab-button {
  border: none !important;
  border-radius: 8px;
  padding: 8px 0 !important;
  margin: 0 5px;
}

.newtab-button::before {
  background: var(--light-3) !important;
}

.newtab-action-selector-anchor {
  border: none !important;
  margin-right: 10px;
  margin-top: 3px;
}

.newtab-button:hover {
  background: var(--dark-1);
}

/**********PINNED TAB***************/
tab-item.pinned {
  margin: 5px !important;
  padding: 0px !important;
  transition: all 0.1s var(--ease-out);
}

/**********CONTAINERS***************/
.contextual-identity-marker {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
}

tab-item.active .contextual-identity-marker {
  display: none !important;
}

.contextual-identity-firefox-container-1:not(.active),
.contextual-identity-firefox-container-2:not(.active),
.contextual-identity-firefox-container-3:not(.active),
.contextual-identity-firefox-container-4:not(.active) {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

tab-item.active.contextual-identity-firefox-container-1 {
  background: linear-gradient(to right, #3182CE, #0BC5EA) !important;
}

tab-item.active.contextual-identity-firefox-container-2 {
  background: linear-gradient(to right, #DD6B20, #F56565) !important;
}

tab-item.active.contextual-identity-firefox-container-3 {
  background: linear-gradient(to right, #38A169, #38B2AC) !important;
}

tab-item.active.contextual-identity-firefox-container-4 {
  background: linear-gradient(to right, #D53F8C, #9F7AEA) !important;
}

/***********************************/
#all-tabs {
  border: none !important;
}
