@import "./variables.scss";

* {
    // font-family: Minecraftia;
    font-family: monospace;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

button {
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    background-color: unset;
    background: unset;
    min-height: 0px;
}
label {
    padding-top: 2px;
}

.bar {
    background-color: $b0-t;
    box {
        padding: 0px;
        margin: 0px;
        min-height: $bar-height;
    }
}

.client-title {
    margin-left: 1em;
    color: #888;
}