label {
    font-family: Minecraftia;
}

button {
    font-family: monospace;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    background-color: unset;
    background: unset;
}

.bar {
    background-color: rgba(2, 2, 3, 0.5);
}
